.portfolio{
   display: flex;  
   margin-left: 10%;
}
.portfolio > label{
    font-family: fantasy;
    text-align: center;
    font-size: 20px;
    position: relative;
    color: #ffffff;
    line-height: 36px;
    
}
.portfolio a:hover,
.portfolio a:active{
    color: aqua;
    background-color: black;
    font-variant: small-caps;
}
.proyects{

}


