.mynameis{
    position: relative;
    font-family:Arial, Helvetica, sans-serif;
      color: #ffffff;
      font-size: 30px;
      margin-bottom: 20px;
    /*margin-left: 35%;*/
    text-align: center;
  }
  
  .icon{
    position: relative;
      width: 44px;
      height: 44px;
      margin-right: 8px;
      display: inline-block;
  
  }.icon-last
  {
      margin-right: 0px;
  }
  
  .icon-email
  {
      background-image: url(../icons/icon-email.png);
  }
  
  .icon-github
  {
      background-image: url(../icons/icon-github.png);
  }
  
  .icon-instagram
  {
      background-image: url(../icons/icon-instagram.png);
  }
  
  .icon-linkedin
  {
      background-image: url(../icons/icon-linkedin.png);
  }

  #title{
    top: 14px;
    float: left;
}

#hcontainer{
    position: relative;
    width: 1200px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    background-color: #505050;
    
  }
/*Iconos*/
#icons-container{
    position: relative;
    top:9px;
    float: right;
  }
