body{
    background: url(../img/fondo.jpg);
}
.title_gallery label{
    font-size: 25px;
    color: ivory;
    font-family: fantasy;
}
.title_gallery{
    align-items: center;
    text-align: center;
}
.title_gallery a:hover,
.title_gallery a:active{
    color: chocolate;
   font-variant: small-caps;
}
/*Gallery*/

.gallery_content,
.gallery_content_box2,
.gallery_content_box3{
    padding-left: 15%;
    font-size: large;
    display: flex;  
    size: 200px 200px; 
    border: 6px;
    border-color: aliceblue;
}

.gallery_content img:hover,
.gallery_content img:active,
.gallery_content_box2 img:hover,
.gallery_content_box2 img:active,
.gallery_content_box3 img:hover,
.gallery_content_box3 img:active{
   filter: opacity(.5);    
}
