/*HEADER O CABECERA*/
/*Seccion Principal*/
:root{
    --rojo: #E50914;
    --fondo: #141414;
    --fondo2: #0b2399;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: auto;
}
.flags{
    width: auto;
    margin: auto;
}
.logo2{
    margin-left: 100px;
    position: absolute;
}
.logo3{
    margin-left: 150px;
    position: absolute;
}
/*MI LOGOTIPO*/
.logo1 {
    background-color: tomato;
    height: 50px;
    width: 20px;
    position: absolute;
}
.logo1::before {
    background-color: tomato;
    height: 50px;
    width: 20px;
    position: absolute;
    content: '';
    left: 70px;
}
.logon {
    position: absolute;
    height: 50px;
    width: 20px;
    background: #e50913;
    left: 36px;
    transform: skew(-32deg);
}
/*navegacion en la cabecera*/
header{
    background: var(--fondo);
    font-family: 'Open Sans', sans-serif;
    padding: 30px 0;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header nav a {
    color: #aaa;
    text-decoration: none;
    margin-right: 21px;
}

header nav a:hover,
header nav a.active{
    color: #fff;
}
