/**/
.box{
    display: grid;
    align-items: center;
}
.presentation {
    align-items: center;
    text-align: center;
}
.presentation > label{
    font-size: 35px;
    color: aqua;
    font-family: fantasy;
}

.description{
    padding-left: auto;
    font-size: 20px;
    color: rgb(235, 235, 224);
    font-family: monospace;
    text-align: center;
}
.presentationPicture > img{
    width: 770px;
    height: 470px;
    background-repeat: no-repeat;
    margin-left: 20%;

}

