
.presentation {
    align-items: center;
    text-align: center;
    font-size: large;
    color: ivory;
    font-family: fantasy;
}

body{
    background: url(../img/NewCanvas9.jpg);
    font-family: 'Open Sans', sans-serif;
    
}
.container{

}
.botonimagen1{
    background: url(../icons/gallery.png);
    background-repeat:no-repeat;
    height:200px;
    width: 200px;
    background-position:center;
    font-family: fantasy;
    color: antiquewhite;
}