
p {
    align-items: center;
    text-align: center;
    font-size: large;
    color: ivory;
    font-family: fantasy;
}

body{
    background: url(../img/NewCanvas9.jpg);
    font-family: 'Open Sans', sans-serif;
    
}