body{
    background: url(../img/fondo.jpg);
    
    background-repeat:no-repeat;
    background-size:auto;
}
.box{
    display: grid;
    align-items: flex-end;
}
.presentation {
    align-items: center;
    text-align: center;
}
.presentation label{
    font-size: 35px;
    color: ivory;
    font-family: fantasy;
}
.presentation >p {
    color: aqua;
}
.description{
    padding-left: auto;
    font-size: 20px;
    color: ivory;
    font-family: monospace;
    text-align: center;
}
.container{
    padding-left: 18%;
    font-size: large;
    display: flex;
    color: rosybrown;  
    size: 200px 200px; 
}
.container > p{
    display: flex;
    font-family: sans-serif;
}