/**/

div.scrollmenu{
    overflow: auto;
    white-space: nowrap;
}
div.scrollmenu img{
    width: 40%;
    height: 40%;
    padding: 10px;
    display: inline-block;
}
.return{
    font-size: large;
    border-radius: 15px;
    align-items: center;
    text-align: center;
    color: blueviolet;
}
.return a:hover, 
.return a:active{
    color: aqua;
    background-color: black;
    font-variant: small-caps;
}

.pret10{
    display: grid;
}
.pret10 > p{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color: aliceblue;
    text-align: center;
}
